/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F1F1F1;
  color: #111;
}

/* Header styles */
header {
  background-color: #fff;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 800;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
}

button[type="submit"] {
  height: 40px;
  padding: 0 20px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 16px;
}

/* Main styles */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#map {
  flex: 1;
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  margin-right: 20px;
}

#forecast {
  flex: 2;
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

/* Footer styles */
footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

/* Weather card styles */
.weather-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin-bottom: 30px;
  display: inline-block;
  width: 300px;
}

.weather-card__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.weather-card__icon img {
  width: 120px;
}

.weather-card__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.weather-card__temperature {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 800;
}

.weather-card__graph {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.weather-card__graph canvas {
  width: 100%;
  height: 100%;
}

.weather-card__description {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}